*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    font-family: 'lato sans-serif';
    background-image: url('asset/bg.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
} 


.login-container {
    background-color: rgba(226, 236, 236, 0.26);
    backdrop-filter: blur(6px); 
    max-width: 700px;
    padding: 100px;
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    
}

h1 {
    display: flex;
    margin-bottom: 20px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}




.label-input {
    margin-bottom: 10px;
}

/* Done with this */
.fill-section {
    margin-bottom: 10px;
    border: 5px light none;
    border-radius: 5px;
    padding: 12px;
    width: 300px;
    background-color: #ffffff;
    border: none;
    font-family: 'lato';
    font-size: medium;

}

/* done with this part */
button {
    width: 300px;
    padding: 12px;
    border-radius: 8px;
    color: #fff;
    background: linear-gradient(to right, #631287, #7957be);
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.rempassword {
  display: flex;
  justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 78px;
    font-size: 14px;

}



.remember {
    display: flex;
    color: #fff;
    gap: 3px;
    font-weight: 50px;
    margin-bottom: 20px;
    border: none;
    margin-left: 2px;
    font-family: 'lato sans-serif';
    
}
.remember input {
    width: 20px;
    height: 16px;
    cursor: pointer;
    border: none;
}

.signup-text {
    display: flex;
    width: 350px;
    padding: 0 10px;
    color: #000;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    font-size: 16px;
}


.signup-text a, .rempassword a {
    color: #000;
    display: inline-block; 
    text-decoration-line: underline;
    font-size: 17px;
    text-align: justify;
}


@media (max-width: 480px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }

    .fill-section, button, .signup-text {
        width: 100%;
    }

    h1 {
        font-size: 24px;
    }
}